* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    justify-content: center;
    font-family: 'Caveat', cursive;
    color: #ffffff;
}

#myVideo {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: fixed;
    background-image: linear-gradient(to right, rgb(92, 90, 199), rgb(114, 105, 248));
    margin: 50px;
    padding: 50px;
    font-size: 25px;
    border-radius: 10px;
    opacity: 0.8;
}

.title {
    text-align: center;
}

.status-action {
    display: flex;
    margin-top: 25px;
    font-size: 20px;
    justify-content: space-around;
    height: 30px;
}

.status span{
    color: red;
}

.reset {
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
}

.reset:hover {
    color: #ffffff;
    transform: scale(1.4);
}

.game-grid {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px 5px;
    border-radius: 10%;
}

.game-cell {
    background-image: linear-gradient(to right, rgb(41, 49, 97), rgb(22, 17, 31));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    transition: transform .2s;
}

.game-cell:hover {
    transform: scale(1.1);
}

.X::after {
    content: '⚔';
    font-size: 60px;
    justify-content: center;
}

.O::after {
    content: '❍';
    font-size: 60px;
    justify-content: center;
}

.won::after{
    color: red;
}

@media only screen and (max-width: 1920px) {
    .game-grid {
        margin-top: 25px;
        gap: 5px 5px;
    }

    .game-cell {
        height: 120px;
        width: 100px;
    }

    .X::after {
        font-size: 75px;
    }

    .O::after {
        font-size: 75px;
    }
}

@media only screen and (max-width: 600px) {
    .game-grid {
        margin-top: 25px;
        gap: 5px 5px;
    }

    .game-cell {
        height: 80px;
        width: 80px;
    }

    .X::after {
        font-size: 55px;
    }

    .O::after {
        font-size: 55px;
    }
}

@media only screen and (max-width: 450px) {
    
    .container {
        font-size: 18px;
    }

    .reset {
        font-size: 18px;
    }

    .status-action {
        font-size: 18px;
    }

    .game-grid {
        margin-top: 20px;
        gap: 4px 4px;
    }

    .game-cell {
        height: 60px;
        width: 60px;
    }

    .X::after {
        font-size: 45px;
    }

    .O::after {
        font-size: 45px;
    }
}

@media only screen and (max-width: 320px) {
    
    .container {
        font-size: 14px;
    }

    .reset {
        font-size: 14px;
    }

    .status-action {
        font-size: 14px;
    }

    .game-grid {
        margin-top: 20px;
        gap: 4px 4px;
    }

    .game-cell {
        height: 40px;
        width: 40px;
    }

    .X::after {
        font-size: 30px;
    }

    .O::after {
        font-size: 30px;
    }
}